In [9]:
import pandas as pd
import numpy as np

In [10]:
iris = pd.read_csv("Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [11]:
iris["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [12]:
iris["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [13]:
vals = {'Iris-setosa': 'setosa', 'Iris-versicolor': 'versicolor', 'Iris-virginica': 'virginica'}
iris["Species"].replace(to_replace = vals, inplace = True)

In [14]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
0   1            5.1           3.5            1.4           0.2  setosa
1   2            4.9           3.0            1.4           0.2  setosa
2   3            4.7           3.2            1.3           0.2  setosa
3   4            4.6           3.1            1.5           0.2  setosa
4   5            5.0           3.6            1.4           0.2  setosa

In [15]:
iris["Species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [43]:
iris.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    Species
145  146            6.7           3.0            5.2           2.3  virginica
146  147            6.3           2.5            5.0           1.9  virginica
147  148            6.5           3.0            5.2           2.0  virginica
148  149            6.2           3.4            5.4           2.3  virginica
149  150            5.9           3.0            5.1           1.8  virginica

In [16]:
iris["Species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [17]:
iris.shape

(150, 6)

In [44]:
about_me = {
    'car': 'mustang',
    'live_in': 'nyc',
    'hobbies': {
        'sports': 'skiing',
        'art': 'painting'},
    'code_in': 'python',
    'music_i_like': {
        'rock': True,
        'jazz': False,
        'hiphop': True,
        'rnb': True,
        'country': False,
        'metal': True
    },
    'sps_courses_completed': 3,
    'sps_courses_to_go': '5',
    'extra_info': {True: {8: 11, 9:30}, False: {2: 4, 17: 7}}  
}

In [45]:
print(about_me['live_in'],
 about_me['extra_info'][True][9] *
      about_me['extra_info'][False][17] *
      int(about_me['sps_courses_to_go']) *
      about_me['music_i_like']['rock'])

nyc 1050

In [47]:
print(about_me['live_in'],
 about_me['extra_info'][True][30] *
      about_me['extra_info'][False][17] *
      int(about_me['sps_courses_to_go']) *
      about_me['music_i_like']['rock'])

KeyError: 30

In [48]:
print(about_me['live_in'].upper(),
 about_me['extra_info'][True][9] *
      about_me['extra_info'][False][17] *
      int(about_me['sps_courses_to_go']) *
      about_me['music_i_like']['jazz'])

NYC 0

In [49]:
print(about_me['live_in'].upper(),
 about_me['extra_info'][True][9] *
      about_me['extra_info'][False][17] *
      int(about_me['sps_courses_to_go']) *
      len(about_me['car']))

NYC 7350

In [50]:
print(about_me['live_in'].upper(),
 about_me['extra_info'][True][9] *
      about_me['extra_info'][False][17] *
      int(about_me['sps_courses_to_go']) *
      about_me['music_i_like']['rock'])

NYC 1050

In [52]:
import math

In [53]:
np.identity(int(math.sqrt((2.5*2)**2)))

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [82]:
def list_len_algo(n):
    import numpy as np
    sum_total = []
    for item in n:
        for x in item:
            if isinstance(x, int):
                sum_total.append(x)
            elif isinstance(x, float):
                sum_total.append(x)
            else:
                sum_total.append(len(x))
    result = np.prod(sum_total)
    
    return result

In [83]:
x = [
    [1,2,3,4,5],
    ['cat', 'fish', 2]
]

y = [
    [1,2,3,4,5],
    [1,2,5,10]
]

In [84]:
r = [
    [1, 2, 3, 4, 5],
 [100, 200, 300, 400, 500],
 ['cat', 'frog', 'buffalo'],
 ['cat', 'frog', 'dragon'],
 [.1, .1, .1, .1, .1, .1, .1, .1, .1, .1, .1],
 [2, 'mango', 2, 2, .1, .1],
 [7 ** 3, 21 ** 2 ** .3, 2, 4, 6],
 [.000001, .0001]]

In [85]:
list_len_algo(r)

243.45153728603455

In [86]:
list_len_algo(x)

2880

In [87]:
list_len_algo(y)

12000

In [60]:
(7**3) * (21**2**.3) * (2) * 4 * 6

698840.8050584748

In [61]:
3483648 * 698840.8050584748 * .000001 * .0001

243.45153728603455

In [66]:
type(0.1)

float

In [67]:
type(2)

int

In [73]:
str(0.1).isdecimal()

False

In [72]:
str(1).isdecimal()

True